.custom-contact-page
  .custom-contact-page__container
    .custom-contact-page__column--left
      h1.custom-contact-page__title Address
      a.custom-contact-page__link.custom-contact-page__info(
        v-html='contact.address', 
        :href='contact.address_link' 
        target='_blank')
      h1.custom-contact-page__title Phone
      a.custom-contact-page__info.custom-contact-page__link(
        v-html='contact.phone',
        :href="'tel:+1' + contact.phone_link")
      h1.custom-contact-page__title Hours
      .custom-contact-page__info(v-html='contact.hours')
      h1.custom-contact-page__title Email
      a.custom-contact-page__info.custom-contact-page__link(
        v-html='contact.email',
        :href="'mailto:' + contact.email",
        target='_blank'
      )
    .custom-contact-page__column--right
      iframe.custom-contact-page__map(:src='contact.google_map')
  #form.custom-contact-page__container.custom-contact-page__container--form
    .custom-contact-page__column--form
      .custom-contact-page__form-title(v-html='props.form_title')
      FormContact
      
