footer.footer(v-if='content')
  .footer__top
    a.footer__banner-image-container(v-for='(image, i) in content.footer.logos', :href='image.link' target="_blank")
      BaseLazyImg.footer__banner-image(
        :key='"image-" + i',
        :src='image.logo')
  .footer__bottom
    .footer__container
      .footer__col
        .footer__info
          a.footer__link(
            :href='content.address_link'
            rel='noreferrer noopener'
            target='_blank'
            v-html='content.address')
          a.footer__link(
            :href='`tel:+1${content.phone_link}`'
            rel='noreferrer noopener'
            target='_blank'
            v-html='`P: ${content.phone}`')
          a.footer__link(
            :href='`mailto:${content.email}`'
            rel='noreferrer noopener'
            target='_blank'
            v-html='`E: ${content.email}`')
        iframe.footer__map(:src='content.google_map')
        .footer__social
          .footer__social-title(v-html='content.footer.title')
          .footer__social-bar
            a.footer__social-item(
              v-for='(social, i) in content.social_media',
              :key='"social-" + i',
              :href='social.link'
              rel='noreferrer noopener'
              target='_blank')
              BaseIcon.footer__social-icon(:name='social.icon')
